<div>Angular change detection issues</div>
<div>Check the javascript console to see when the change detection runs</div>
<p matTooltip="tooltip">
  This paragraph has a material tooltip.<br />
  Move the mouse inside this paragraph and back: the Angular change detection 
  will be triggered: <a href="https://github.com/angular/material2/issues/10306">#10306</a>
</p>
<div echarts [options]="options"></div>
<div>
e-charts 4.1.0 issue: when you hoover over a bar, you will see the tool-tip windows: when you move the mouse inside this window every mouse-move will trigger the angular change detection!<br />
This is fixed when we upgrade to 4.2.1.
</div>